.dropdown-item {
  margin: 4px 0;
}

.btn-fix-width {
  width: 100% !important;
}

.p-6 {
  padding: 4rem !important;
}

.is-invalid-loginFix {
  border-top-color: #e23e3d;
  border-left-color: #e23e3d;
  border-bottom-color: #e23e3d;
}

.invalid-feedback-fix {
  display: block !important;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
}

.fix-p {
  padding-bottom: 12px;
}

.m-avatar-error {
  margin-left: 1.5rem;
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #14917e !important;
  cursor: not-allowed;
}

.table td {
  vertical-align: middle !important;
}

.cursor-pointer {
  cursor: pointer;
}

.fixWidth {
  width: 13%;
}

.custom-color-addIcons {
  color: #05c3fb;
}

.fix-icons-radio {
  width: 100%;
}

.custom-bg {
  background-color: #f4f4f4;
}

.badge-size {
  font-size: 12px;
}

a.fix-tag-hover:hover {
  background-color: #2e2c4d !important;
}
