.required {
  color: red;
  font-size: 1rem;
}

.fix-size {
  font-size: 1.1rem !important;
}

.fix-font {
  width: 30rem;
  margin: auto;
}

.forget-pass {
  max-width: 400px;
  margin: auto;
}

.fix-alert-reset-pass {
  width: 44%;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.fix-width {
  width: 18%;
}
