.dropdown-item {
    margin: 4px 0;
}

.btn-fix-width {
    width: 100% !important;
}

.p-6 {
    padding: 4rem !important;
}

.is-invalid-loginFix {
    border-top-color: #e23e3d;
    border-left-color: #e23e3d;
    border-bottom-color: #e23e3d;
}
.invalid-feedback-fix {
    display: block !important;
}
